/* banner */
button{
    background-color: blue;
    border-radius: 15px;
    padding: 5px;
    border: none;
    font-size: 16px;
    font-weight: 500px;
    color: white;
} 
.banner{
    display: flex;
    justify-content: space-between;
    margin:2%
    
}
h1{
    color: blue;
}
 .para{
    font-size: 2em;
    margin-left: 300px;
}
.btn-primary{
    margin-left: 300px;
    padding: 20px;
    color: white;
}
.header{
   background-image: url(images/Hero-bg.png);
     }
/* action */
h3{
    font-size: 3em;
    margin-left: 20px;
}
.paragraph{
    color:#252432;
    font-size: 2em;
    margin-left: 20px;
}
.btn{
    color: white;
    margin-left: 20px;
    padding: 20px;
}
.middle{
    display: flex;
    justify-content: space-between;
    margin: 20px;
   
}
img{
     border-radius: 30px;
}
/* productive user */
.container{
    list-style-type: none;
    font-size: 4em;
    display: flex;
    justify-content:space-evenly;
    color: blue;
    font-weight: bolder;   
}
.user{
    font-size: 2.5em;
   margin-left: 350px;
}
.uncontainer{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    color: #000000;
    }
   /* review */
   .our{
    font-size: 2.5em;
   
   }
  .reference{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
  }
  /* 5th part */
  span{
    font-size: 3em;
    margin: 300px;

  }
  h5
{
    margin-left: 300px;
}